*.pem
*.tsbuildinfo
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.next/
.pnp
.pnp.js
.vrcel
.devtools
build
coverage
node_modules/
npm-debug.log*
out/
yarn-debug.log*
yarn-error.log*/
.archived/
vectr/
.env*.local
durable-llm-streams/
.turbo/
workflow-builder-template/
studio-233-landing-inpspo/

# Better Agents
.better-agents/
