*.pem
*.tsbuildinfo
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.next/
.pnp
.pnp.js
.vercel
build
coverage
node_modules
npm-debug.log*
out/
yarn-debug.log*
yarn-error.log*/